<style>

.logo_centered{
  width:400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);		
}
#back_circle{
    display:none;
  } 
  #shadow{
    display:none;
  } 
  #m_border{
    display:none;
  } 
  #m{
    display:none;
  } 
  #ring{
    display:none;
  } 
</style>

<div class="container">
  <div class="logo_centered">
  <svg version="1.1"
 x="0px" y="0px" width="100%" viewBox="0 0 229.9 232.4" style="enable-background:new 0 0 229.9 232.4;"
 xml:space="preserve">
<style type="text/css">
.st0{fill:#8AA589;}
.st1{fill:#628462;}
.st2{fill:#1B2D1A;stroke:#000000;stroke-miterlimit:10;}
.st3{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
.st4{fill:#1C2D1C;stroke:#000000;stroke-miterlimit:10;}
</style>
<defs>
</defs>
<g class="logo">
<circle id="back_circle" class="st0" cx="94.1" cy="94.1" r="86.9"/>
<path id="shadow" class="st1" d="M42.9,137.6L75.4,179c0,0,39.4,8.7,71.9-16.3c33.3-25.6,29.3-61.8,29.3-61.8l-31.9-44.9L42.9,137.6z"/>
<g>
  <path id="m_border" class="st2" d="M149.3,137.6H42.9c-0.3,0-0.6-0.3-0.6-0.6V70.7c0-13.2,10.7-23.9,23.9-23.9h59.5c13.2,0,23.9,10.7,23.9,23.9
    v66.6C149.6,137.4,149.5,137.6,149.3,137.6z"/>
  <g>
    <g>
      <path id="m" class="st3" d="M143,130.4h-25.6V74.9c0-3.6-0.9-6.5-2.8-8.6c-1.6-1.8-3.5-3-5.7-3.5v67.5H83.3V62.8
        c-2.3,0.6-4.3,1.7-5.7,3.4c-1.9,2.1-2.8,5-2.8,8.7v55.5H49.2V74.9c0-5.1,1.4-9.5,4.3-13.4c3.9-5.3,9.6-8,17-8h51.1
        c7.5,0,13.2,2.6,17,7.9c2.9,3.8,4.3,8.3,4.3,13.5V130.4z"/>
    </g>
  </g>
</g>
<path id="ring" class="st4" d="M94.1,187.7c-51.6,0-93.6-42-93.6-93.6c0-51.6,42-93.6,93.6-93.6s93.6,42,93.6,93.6
  C187.7,145.7,145.7,187.7,94.1,187.7z M94.1,13.9c-44.2,0-80.2,36-80.2,80.2c0,44.2,36,80.2,80.2,80.2s80.2-36,80.2-80.2
  C174.3,49.9,138.3,13.9,94.1,13.9z"/>
</g>
</svg>
  </div>
</div>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
<script type='text/javascript' src="../assets/DrawSVGPlugin.js"></script> 
<script type='text/javascript' src="../assets/animate-macrom.js"></script> 
